<div class="grid">
  <div class="col-12">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="card p-fluid">
        <div class="p-formgrid grid">
          <div class="field col">
            <span class="p-input-icon-left p-float-label">
              <i class="pi pi-user"></i>
              <input pInputText id="name" formControlName="name" required autofocus />
              <label htmlFor="name">Nombres</label>
            </span>
            <small class="p-error"
              *ngIf="userForm.get('name').invalid && (userForm.get('name').dirty || userForm.get('name').touched)">El
              nombre
              es obligatorio. </small>
            <small class="p-error"
              *ngIf="userForm.get('name').errors?.['minlength'] && (userForm.get('name').dirty || userForm.get('name').touched)">El
              nombre debe tener al menos 3 caracteres. </small>
            <small class="p-error"
              *ngIf="userForm.get('name').errors?.['pattern'] && (userForm.get('name').dirty || userForm.get('name').touched)">El
              nombre contiene caracteres no permitidos.</small>
          </div>
          <div class="field col">
            <span class="p-input-icon-left p-float-label">
              <i class="pi pi-user"></i>
              <input pInputText id="lastname" formControlName="lastname" required autofocus />
              <label htmlFor="lastname">Apellidos</label>
            </span>
            <small class="p-error"
              *ngIf="userForm.get('lastname').invalid && (userForm.get('lastname').dirty || userForm.get('lastname').touched)">El
              apellido es obligatorio. </small>
            <small class="p-error"
              *ngIf="userForm.get('lastname').errors?.['minlength'] && (userForm.get('lastname').dirty || userForm.get('lastname').touched)">El
              apellido debe tener al menos 7 caracteres. </small>
            <small class="p-error"
              *ngIf="userForm.get('lastname').errors?.['pattern'] && (userForm.get('lastname').dirty || userForm.get('lastname').touched)">El
              apellido contiene caracteres no permitidos.</small>
          </div>
        </div>
        <div class="p-formgrid grid">
          <div class="field col">
            <span class="p-input-icon-left p-float-label">
              <i class="pi pi-user"></i>
              <input pInputText id="dni" formControlName="dni" required autofocus />
              <label htmlFor="dni">DNI</label>
            </span>
            <small class="p-error"
              *ngIf="userForm.get('dni').invalid && (userForm.get('dni').dirty || userForm.get('dni').touched)">El dni
              es
              obligatorio.</small>
          </div>
          <div class="field col">
            <span class="p-input-icon-left p-float-label">
              <i class="pi pi-user"></i>
              <input pInputText id="email" formControlName="email" required autofocus />
              <label htmlFor="email">Correo</label>
            </span>
            <small class="p-error"
              *ngIf="userForm.get('email').invalid && (userForm.get('email').dirty || userForm.get('email').touched)">El
              correo es
              obligatorio. </small>
              <small class="p-error"
              *ngIf="userForm.get('email').errors?.['email'] && (userForm.get('email').dirty || userForm.get('email').touched)">El
              formato del correo electrónico es inválido.</small>
          </div>
        </div>
        <div class="p-formgrid grid">
          <div class="field col">
            <span class="p-input-icon-left p-float-label">
              <i class="pi pi-user"></i>
              <input pInputText id="username" formControlName="username" required autofocus />
              <label htmlFor="username">Usuario</label>
            </span>
            <small class="p-error"
              *ngIf="userForm.get('username').invalid && (userForm.get('username').dirty || userForm.get('username').touched)">El
              usuario es obligatorio. </small>
            <small class="p-error"
              *ngIf="userForm.get('username').errors?.['minlength'] && (userForm.get('username').dirty || userForm.get('username').touched)">El
              usuario debe tener al menos 6 caracteres. </small>
            <small class="p-error"
              *ngIf="userForm.get('username').errors?.['maxlength'] && (userForm.get('username').dirty || userForm.get('username').touched)">El
              usuario no debe tener más de 16 caracteres. </small>
            <small class="p-error"
              *ngIf="userForm.get('username').errors?.['pattern'] && (userForm.get('username').dirty || userForm.get('username').touched)">El
              usuario contiene caracteres no permitidos.</small>
          </div>
          <div class="field col">
            <span class="p-input-icon-left p-float-label">
              <i class="pi pi-user"></i>
              <p-password id="password" required [toggleMask]="true" formControlName="password"
                [feedback]="false"></p-password>
              <label htmlFor="password">Contraseña</label>
            </span>
            <small class="p-error"
              *ngIf="userForm.get('password').invalid && (userForm.get('password').dirty || userForm.get('password').touched)">La
              contraseña es obligatoria. </small>
            <small class="p-error"
              *ngIf="userForm.get('password').errors?.['minlength'] && (userForm.get('password').dirty || userForm.get('password').touched)">La
              contraseña debe tener al menos 6 caracteres. </small>
            <small class="p-error"
              *ngIf="userForm.get('password').errors?.['maxlength'] && (userForm.get('password').dirty || userForm.get('password').touched)">La
              contraseña no debe tener más de 20 caracteres. </small>
            <small class="p-error"
              *ngIf="userForm.get('password').errors?.['pattern'] && (userForm.get('password').dirty || userForm.get('password').touched)">La
              contraseña contiene caracteres no permitidos.</small>
          </div>
        </div>
        <div class="p-formgrid grid">
          <div class="field col">
            <span class="p-float-label">
              <p-dropdown formControlName="role" inputId="roles" [options]="roles" optionLabel="name"></p-dropdown>
              <label for="roles">Seleccionar un rol</label>
            </span>
            <small class="p-error"
              *ngIf="userForm.get('role').invalid && (userForm.get('role').dirty || userForm.get('role').touched)">El
              rol es
              obligatorio.</small>
          </div>
        </div>
      </div>
      <div class="p-fluid flex justify-content-between">
        <button type="button" pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger mr-6"
          (click)="closeDialog()"></button>
        <button type="submit" pButton pRipple label="Guardar" [disabled]="!userForm.valid || creating$"
          icon="pi pi-check" class="p-button-success"></button>
      </div>
    </form>
  </div>
</div>